@use '../utilities/variables' as vars;

.tag {
    display: inline-block;
    padding: 5px;

    i {
        border-radius: 50%;
        padding: 5px;
        color: white;
    }

    &.front i {
        background-color: vars.$bg-green;
    }

    &.back i {
        background-color: vars.$bg-red;
    }

    &.device i {
        background-color: vars.$bg-yellow;
    }

    &.close {
        float: right;

        i {
            color: vars.$bg-red; 
        }
        
    }
}
