$bg-h1: rgba(23 131 179 / 53%);
$bg-column: rgba(255 255 255 / 70%);
$bg-green: rgb(35 181 45);
$bg-red: rgb(237 66 66);
$bg-yellow: rgb(246 209 76);
$bg-hover:rgb(17, 117, 162, 0.59);
$tag-hover:rgb(48, 45, 74);
$box-shadow: 0 1px 4px rgba(0 0 0 / 20%);
$box-shadow-hover: 0 2px 6px rgba(0 0 0 / 30%);
